<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Busca de Veículo</title>
</head>
<body>
    <h1>Buscar Veículo</h1>
    <form action="/buscarVeiculo" method="post">
        <label for="fipe">FIPE:</label>
        <input type="text" id="fipe" name="fipe" required>
        <button type="submit">Buscar</button>
    </form>
    <div th:if="${veiculos != null and !veiculos.isEmpty()}">
        <h2>Dados dos Veículos</h2>
        <div th:each="veiculo : ${veiculos}">
            <p><strong>Valor:</strong> <span th:text="${veiculo.valor}"></span></p>
            <p><strong>Marca:</strong> <span th:text="${veiculo.marca}"></span></p>
            <p><strong>Modelo:</strong> <span th:text="${veiculo.modelo}"></span></p>
            <p><strong>Ano do Modelo:</strong> <span th:text="${veiculo.anoModelo}"></span></p>
            <p><strong>Combustível:</strong> <span th:text="${veiculo.combustivel}"></span></p>
            <p><strong>Código FIPE:</strong> <span th:text="${veiculo.codigoFipe}"></span></p>
            <p><strong>Mês de Referência:</strong> <span th:text="${veiculo.mesReferencia}"></span></p>
            <p><strong>Tipo de Veículo:</strong> <span th:text="${veiculo.tipoVeiculo}"></span></p>
            <p><strong>Sigla do Combustível:</strong> <span th:text="${veiculo.siglaCombustivel}"></span></p>
            <p><strong>Data da Consulta:</strong> <span th:text="${veiculo.dataConsulta}"></span></p>
            <hr>
        </div>
    </div>
</body>
</html>
